<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="headerContainer">

        <img src="https://media.vgm.io/products/21/13012/13012-1682927959.webp" alt="AC" class="headerImg">

      <div class="headerLinks">
         <a href="/catalog">Home</a>
         <a href="/catalog/guns">All Guns</a>
         <a href="/catalog/makers">All Makers</a>
         <a href="/catalog/types">All Types</a>
         <hr>
          <a href="/catalog/type/create">Create Type</a>
          <a href="/catalog/Maker/create">Create Maker</a>
       </div>
                        
                    
                
               
     </div>
    
</body>
</html>
